<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57674/MyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyService" contract="MyService.IMyService"
                name="BasicHttpBinding_IMyService" />
        </client>
    </system.serviceModel>
</configuration>