body {
}
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#userTable {
    border:0;
    margin:0;
}

#divHeader {
    height: 100px;
    text-align: center;
    color: darkblue;
    padding-top: 2px;
    font-size: 90px;
    font-style: italic;
    font-weight: 900;
}

#divLogin {
    float: left;
    background-color: #465c71;
    color: white;
    padding-left: 5px;
}

#divMenu {
    background-color: #465c71;
    height: 41px;
}

#divSiteMapPath {
    background-color: #eee;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 23px;
}

#divContent {
}

div.menu {
    padding: 4px 0px 4px 8px;
    text-align: right;
    float: right !important;
    font-size: large;
}

    div.menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: #465c71; /* צבע רקע של כניסת התפריט */
            border: 1px #4e667d solid;
            color: #dde4ec; /* צבע הכיתוב של התפריט */
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

    div.menu ul {
        background-color: #bfcbd6;
        color: #465c71;
        text-decoration: none;
    }

        div.menu ul li a:active {
            background-color: #465c71;
            color: #cfdbe6;
            text-decoration: none;
        }
